{{#section 'weather'}}
<link rel="stylesheet" href="/css/weather.css">
{{/section}}

<div class="weather">
	<div class="weather-img">
		<img src="/imgs/weatherImg/{{partials.weatherContext.now.code}}.png" alt="天气" class="weather-i">
	</div>
	<div class="weather-info">
		<p class="weather-f">{{partials.weatherContext.now.text}}</p>
		<p class="weather-t">{{partials.weatherContext.now.temperature}}℃</p>
	</div>
</div>