{{#section 'home'}}
<link rel="stylesheet" href="/css/home.css">
{{/section}}

<div class="nav-bar">
	<div class="weather-cont">
		{{> weather}}
	</div>
	<div class="f-width">
		<div class="location">
			北京
		</div>
		<div class="fr nav-cont">
			<ul>
				<li class="nav-item">
					<a class="login">你好，请登录</a>&nbsp;
					<a class="regist">免费注册</a>
				</li>
				<li class="nav-item">
					我的订单
				</li>
				<li class="nav-item">
					我的京东
				</li>
				<li class="nav-item">
					京东会员
				</li>
				<li class="nav-item">
					企业采购
				</li>
				<li class="nav-item">
					客户服务
				</li>
				<li class="nav-item">
					网站导航
				</li>
				<li class="nav-item">
					手机京东
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="header">
	<!-- search Input -->
	<div class="f-width">
		<div class="logo"></div>
		<div class="search-cont">
			<div class="col-lg-6 search-input">
				<div class="input-group">
		      <input type="text" class="form-control" placeholder="智能家居">
		      <span class="input-group-btn">
		        <button class="btn btn-default glyphicon glyphicon-search search-btn" type="button">
		        </button>
		      </span>
	    	</div>
	    </div>
		</div>
	</div>
	<div class="f-width">
		<div class="hot-words">
			<a href="#" class="hot-word-item">国宴餐饮</a>
			<a href="#" class="hot-word-item">买一送一</a>
			<a href="#" class="hot-word-item">传世饲料</a>
			<a href="#" class="hot-word-item">京东服装</a>
			<a href="#" class="hot-word-item">价保618</a>
			<a href="#" class="hot-word-item">玩具车</a>
			<a href="#" class="hot-word-item">surface</a>
			<a href="#" class="hot-word-item">全球尖货</a>
			<a href="#" class="hot-word-item">耳机</a>
		</div>
	</div>
	<div class="f-width">
		<div class="branch-cont">
			<a href="#" class="branch-item">秒杀</a>
			<a href="#" class="branch-item">优惠券</a>
			<a href="#" class="branch-item">闪购</a>
			<a href="#" class="branch-item">服装城</a>
			<a href="#" class="branch-item">京东超市</a>
			<a href="#" class="branch-item">生鲜</a>
			<a href="#" class="branch-item">全球购</a>
			<a href="#" class="branch-item">京东金融</a>
		</div>
	</div>
</div>
