{{#section 'loginCss'}}
<link rel="stylesheet" href="/css/login.css">
{{/section}}

<div class="login-header">
	<div class="logo-cont">
		<div class="logo"></div>
		<div class="logo-title">欢迎登录</div>
	</div>
</div>
<div class="login-cont">
</div>