{{#section 'registerCss'}}
<link rel="stylesheet" href="/css/register.css">
{{/section}}

<div class="register-header">
	<div class="logo-cont">
		<div class="logo"></div>
		<div class="logo-title">欢迎注册</div>
		<div class="have-account">已有账号？<a href="/login" class="to-login">请登录</a></div>
	</div>
</div>
<div class="container">
	<div class="form-cont fl">
		<form class="form-horizontal">
		  <div class="form-group form-group-bottom">
		    <label class="col-sm-3 control-label form-label" for="form-name">用户名：</label>
		    <div class="col-sm-7">
		      <input class="form-control form-input" type="text" id="for-name" placeholder="您的账号名和登录名">
		    </div>
		  </div>
		  <div class="form-group form-group-bottom">
		    <label class="col-sm-3 control-label form-label" for="form-passwd">密码：</label>
		    <div class="col-sm-7">
		      <input class="form-control form-input" type="text" id="for-passwd" placeholder="建议至少使用两种字符组合">
		    </div>
		  </div>
		  <div class="form-group form-group-bottom">
		    <label class="col-sm-3 control-label form-label" for="form-passwd-check">确认密码：</label>
		    <div class="col-sm-7">
		      <input class="form-control form-input" type="text" id="for-passwd-check" placeholder="再次输入密码">
		    </div>
		  </div>
		  <div class="form-group form-group-bottom">
		    <label class="col-sm-3 control-label form-label" for="form-email">邮箱：</label>
		    <div class="col-sm-7">
		      <input class="form-control form-input" type="text" id="for-email" placeholder="请输入邮箱">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-7">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" checked> 阅读并同意 <a href="#">《京东用户注册协议》</a> <a href="#">《隐私政策》</a>
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-offset-3 col-sm-7">
		    	<button type="submit" class="btn btn-lg btn-danger btn-block">立即注册</button>
		    </div>
		  </div>
		</form>
	</div>
	<div class="form-company fl">
	</div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
	document.title = '个人注册'
</script>
{{/section}}