{{#section 'registerCss'}}
<link rel="stylesheet" href="/css/register.css">
{{/section}}

<div class="register-header">
	<div class="logo-cont">
		<div class="logo"></div>
		<div class="logo-title">欢迎注册</div>
		<div class="have-account">已有账号？<a href="/login" class="to-login">请登录</a></div>
	</div>
</div>
<div class="container">
	<div class="form-cont"></div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
	document.title = '个人注册'
</script>
{{/section}}